body{
    background-color: bisque;
}

/*Aqui estoy añadiendo un estilo para los encabezados*/
.encabezado{
    color: rgb(48, 40, 5);
    font-family:'Times New Roman', Times, serif;
}

/*Aqui estoy añadiendo otro tipo de estilo a los subtextos*/
.subtexto2{
    color:rgb(110, 50, 10);
    font-family:'Courier New', Courier, monospace;
}

/*Aqui estoy añadiendo un estilo a los sutextos*/
.subtexto{
    color:rgb(53, 37, 20);
    font-family: Arial, sans-serif;
}

/*Aqui estoy modificando las caracteristicas de la imagen*/
.imagen{
    background-color: burlywood;
    border: 10px solid rgb(95, 80, 10);
    margin-top: -604px;
    width: 310px;
    height: 310px;
}

/*Aqui estoy modificando el encabezado Curriculum Vitae*/
.cv {
    text-align: center;
    background-color:darkgoldenrod;
    border: 2px solid rgb(95, 80, 10);
    height: 60px;
    width: 770px;
}

/*Aqui estoy modificando mi nombre*/
.lc{
    margin-top: 380px;
    text-align: center;
    width: 325px;
    background-color: darkgoldenrod;
    border: 2px solid rgb(95, 80, 10);
}

/*Aqui estoy modificando la descripción*/
.des{
    width: 286px;
    height: 125px;
    background-color: burlywood;
    padding: 30px 20px;
    border: 2px solid rgb(95, 80, 10);
}

/*Aqui modifico los atributos de la sección educación*/
.educ{
    margin-top: -100px;
}
.educ2{
    text-align:left;
    width: 325px;
    height: 260px;
    background-color: burlywood;;
    padding: 50px -10px;
    border: 2px solid rgb(95, 80, 10);
}

/*Aqui estoy modificando mi experiencia laboral*/
.xp{
    text-align: center;
    background-color: darkgoldenrod;
    border: 2px solid rgb(95, 80, 10);
    width: 335px;
    margin-left: 435px;
    margin-top: -959px;
}

/*Aqui estoy modificando el atributo del encabezado de experiencia laboras*/
.ta{
    margin-left: 435px;
    width: 325px;
    background-color: burlywood;
    border: 2px solid rgb(95, 80, 10);
    color: rgb(95, 80, 10);
    padding: 5px;
}

.skill1{
    text-align: center;
    margin-left: 935px;
    width: 335px;
    background-color: darkgoldenrod;
    border: 2px solid rgb(95, 80, 10);
    margin-left: 435px;
}
.skill2{
    margin-left: 435px;
    width: 325px;
    background-color: burlywood;
    border: 2px solid rgb(95, 80, 10);
    color: rgb(95, 80, 10);
    padding: 5px;
}

.info{
    text-align: center;
    background-color:darkgoldenrod;
    border: 2px solid rgb(95, 80, 10);
    height: 25px;
    width: 335px;
    margin-left: 435px;
    margin-top: 77px;
}

.info2{
    text-align:justify;
    background-color: burlywood;
    border: 2px solid rgb(95, 80, 10);
    width: 500px;
    margin-left: 110px;
    padding: 15px 30px;
    margin-top: 50px;
}
